<p id="notice"><%= notice %></p>

<h1>Books</h1>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Price</th>
            <th>Code</th>       
            <th colspan="3"></th>
        </tr>
    </thead>

    <tbody id="booklist">
      <%= render @books %>
    </tbody>
</table> 

<br>

<%= link_to 'New Book', new_book_path %>
